<% layout('../layout/page') -%>
<% block('title', "BrainFuck IDE") %>
<!DOCTYPE html>
<html ng-app="ideApp">
<head>
    <link rel='stylesheet' href='/stylesheets/ide.css'/>
    <script src="scripts/ideApp.js"></script>
</head>
<body onload="init();" ng-controller="ideController">

</body>
</html>