<% layout('../layout/page') -%>
<% block('title', "BrainFuck IDE") %>
<%if (user) {%>
<body onload="init();" ng-app="ideApp">
    <link rel='stylesheet' href='/css/ide.css'/>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="scripts/ideApp.js"></script>
    <script src="scripts/sourcelist.js"></script>
    <script src="scripts/drop-directive.js"></script>
    <script src="scripts/ng-infinite-scroll.js"></script>
    <script src="scripts/infinityScroll.js"></script>
    <script src="scripts/interpreter/code.js"></script>

    <div class="main row" ng-controller="IdeAppController">
        <div class="center-ide col-md-10">
            <div class="code-unit">
                <div class="controls">
                    <img title="Run" src="/images/play.svg" id="run" ng-click="is_debug = false" onclick="run_code();"/>
                    <img title="Debug" src="/images/debug.svg" id="debug" ng-click="is_debug = true" onclick="debug_toggle();"/>
                    <img title="Step" src="/images/next.svg" id="step" onclick="run_step();"/>
                    <img title="To breakpoint" src="/images/skip.svg" id="to-breakpoint" onclick="run_debug();"/>
                    <span class="hint">Use @ for breakpoint.</span>
                </div>
                <form class="code-area">
                    <textarea id="edit-source" ng-model="file.text" name="source">

                    </textarea>
                </form>
            </div>

            <div class="output">
                <textarea disabled class="viewer" id="outputview" ></textarea>
            </div>
        </div>
        <div class="col-md-2">
            <div class="files" ng-controller="SourceFileListController">
                <div class="controls">
                    <img title="Create file" src="/images/new.svg" class="new" ng-click="new()"/>
                    <img title="Delete file" src="/images/delete.svg" class="delete" ng-click="remove()"/>
                    <img title="Save file" src="/images/save.svg" class="save" ng-click="save()"/>
                </div>
                <div class="content" drop-directive ng-repeat="file in sourceFiles">
                    <source-files-directive></source-files-directive>
                </div>
            </div>
            <div infinite-scroll="loadMore()" class="scroll memory-panel">
                <div ng-repeat="line in lines" class="viewer">
                <span class="ceil">
                    <input size="4" type="text" ng-value="line.hex">
                    <input type="number" min="0" id="memory"
                           onfocusout="if(value < 0 || value > 255 || value.length == 0) value = 0;"
                           ng-model="memory[$index]">
                    <input size="1" disabled ng-value="tochar(memory[$index])">
                </span>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="hint">-->
        <!--<p>Use @ for breakpoint.</p>-->
    <!--</div>-->
</body>
<%} else {%>
<link rel='stylesheet' href='/css/style.css'/>
<body class="no-login">
    <h1>Please, <a href="/login">login</a> or <a href="/registration">registration</a>!</h1>
</body>
<%}%>