<% layout('../layout/page') -%>
<% block('title', "BrainFuck IDE") %>
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <div class="container-info">
        <% if (user){ %>
            <h1>Welcom <%= user.username %>!</h1>
            <p>Go to IDE</p>
            <a href="/ide" class="btn btn-primary">Run</a>
        <% } else { %>
            <h1>Please register or enter to IDE.</h1>
        <% } %>
    </div>
</body>
</html>
