<% layout('../layout/page') -%>
<% block('title', "BrainFuck IDE") %>
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css'/>
</head>
<body>
    <div class="container-info">
        <% if (user){ %>
            <h1>Welcom, <%= user.username %>!</h1>
            <p>Go to IDE</p>
            <a href="/ide" class="btn btn-primary">Run</a>
        <% } else { %>
        <div>
            <h1>Please, <a href="/login">login</a> or <a href="/registration">registration</a>!</h1>
        </div>
        <% } %>
    </div>
</body>
</html>
