form {
    padding-top: 20%;
    padding-left: 32.333%;
}

input {
    min-width: 200px;
}

.social-nets {
    padding-left: 140px;
    padding-bottom: 20px;
}

.social-nets > img {
    padding-left: 10px;
    padding-right: 25px;
}

img:hover {
    cursor: pointer;
}
