.main, .hint {
    font-family: 'Inconsolata', monospace;
}

.main {
    padding: 0;
    margin: 0;
    /*padding-right: 1000px;*/
    /*display: flex;*/
    padding-top: 51px;
}

.memory-panel {
    margin-left: -30px;
    /*height: 400px;*/
    width: auto;
    max-height: 350px;
    /*margin-left: 10px;*/
    overflow-y: auto;
    overflow-x: hidden;
    border-left: none;
}

.code-unit {
    height: 400px;
    width: auto;
}

.output {
    height: 150px;
    width: auto;
    /*margin-top: 10px;*/
}

.main {
    /*width: 111.5%;*/
    width: 100%;
    border: solid 1px;
}

.files {
    height: 200px;
    width: auto;
    margin-left: -30px;
    /*height: 100%;*/
    /*width: 350px;*/
}

.code-area {
    /*width: 100%;*/
    /*height: 90%;*/
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
}

.memory-panel, .output, .files, .code-unit {
    border: solid 2px;
}

.memory-panel {
    border-top: hidden;
    border-left: hidden;
}

.files {
    border-top: hidden;
    border-left: hidden;
}

.output {
    border-top: hidden;
    margin-left: -129px;
}

.code-unit {
    border-top: hidden;
    margin-left: -129px;
    /*width: 120%;*/
}

.controls {
    /*padding-bottom: 5px;*/
    border-bottom: solid 2px;
    /*text-align: center;*/
}

.controls > a {
    color: black;
}

.code-unit > .controls {
    /*padding-left: 20px;*/
}

.files > .controls {
    padding-bottom: 1px;
}

a:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

.hint > p {
    color: darkgrey;
}

.hint {
    padding-left: 15px;
}

#step, #to-breakpoint {
    display: none;
}


.controls > button {
    background: none;
    border: none;
    text-decoration-color: black;
    outline: none;
    color: black;
}

button:hover {
    text-decoration: none;
    color: white;
    background-color: black;
    cursor: pointer;
}

input {
    border: hidden;
    background: white;
    max-width: 45px;
}


.ceil {
    padding-left: 25px;
}

.content {
    padding-left: 17px;
}

.output > .viewer {
    overflow-y: auto;
}

img:hover {
    cursor: pointer;
}

#debug {
    width: 18px;
}

#run {
    width: 25px;
}

#step {
    padding: 0;
    width: 25px;
}

.debug-pointer {
    background: yellow;
}

.center-ide {
    /*width: 1000px;*/
}