body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.no-login {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding-top: 180px;
    padding-left: 410px;
}

a {
    color: #00B7FF;
}

a:hover {
    text-decoration: none;
}

.container-info {
    text-align: center;
    padding-top: 17%;
}

.container-info p {
    padding-top: 30px;
    font-size: 25px;
}

.container-info a {
    min-width: 200px;
    margin-top: 20px;
}

