<% layout('./page') %>

<p class="col-lg-offset-2">Please enter toyr name and password to sign in.</p>

<form class="form-horizontal login-form" name="login-form" style="padding-top: 50px">
    <div class="form-group">
        <label for="input-username" class="col-lg-2 control-label">Name</label>

        <div class="col-lg-2">
            <input name="username" value="name" type="text" class="form-control" id="input-username" placeholder="Name">
        </div>
    </div>
    <div class="form-group">
        <label for="input-password" class="col-lg-2 control-label">Password</label>

        <div class="col-lg-2">
            <input name="password" value="pass" type="password" class="form-control" id="input-password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-2">
            <button type="submit" class="btn btn-primary" data-loading-text="Sending..."><%=blocks.but%></button>
            <button type="reset" class="btn btn-default">Cancel</button>
            <span class="help-block error"></span>
        </div>
    </div>
</form>

<script>
    $(document.forms['login-form']).on('submit', function() {
        var form = $(this);

        $('.error', form).html('');
        $(":submit", form).button("loading");

        $.ajax({
            url: "<%=blocks.postUrl%>",
            method: "POST",
            data: form.serialize(),
            complete: function() {
                $(":submit", form).button("reset");
            },
            statusCode: {
                200: function() {
                    form.html("Вы вошли в сайт").addClass('alert-success');
                    window.location.href = "/brain";
                },
                403: function(jqXHR) {
                    var error = JSON.parse(jqXHR.responseText);
                    $('.error', form).html(error.message);
                }
            }
        });
        return false;
    });
</script>