<link rel='stylesheet' href='/stylesheets/header.css'/>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">BrainFuck IDE</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <p class="navbar-text">Welcom, <%= user ? user.username : "guest"%>!</p>
            <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                <li>
                    <a href="/logout">Sign out</a>
                </li>
                <% } else { %>
                <li><a href="/registration" >Sign up</a></li>
                <li><a href="/login" >Sign in</a></li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>